* {
  box-sizing: border-box; }

.upload-container {
  max-width: 50%;
  display: flex;
  justify-content: space-between; }
  .upload-container .upload-btn {
    cursor: pointer;
    margin-right: 5px;
    white-space: nowrap;
    display: block;
    text-decoration: none;
    border: none;
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    border-radius: 6px;
    color: #fff;
    background-color: #13AA52;
    touch-action: manipulation;
    outline: 0; }
  .upload-container .upload-input {
    display: none; }

.download-btn {
  display: block;
  width: max-content;
  text-decoration: none;
  margin: 20px 0;
  padding: 6px 14px;
  font-family: 'Roboto', sans-serif;
  border-radius: 6px;
  color: #fff;
  background-color: #367AF6;
  touch-action: manipulation;
  outline: 0; }

.images-container .uploaded-img {
  width: 25mm; }

.result {
  margin-top: 20px; }
  .result .canvas {
    max-width: 100%;
    border: 2px solid #367AF6; }
