* {
  box-sizing: border-box; }

.upload-container {
  max-width: 50%;
  display: flex;
  justify-content: space-between; }
  .upload-container .upload-btn {
    cursor: pointer;
    white-space: nowrap; }
  .upload-container .upload-input {
    display: none; }

.download-btn {
  display: block;
  width: max-content;
  text-decoration: none;
  margin: 20px 0;
  padding: 6px 14px;
  font-family: 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background-color: #367AF6;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  touch-action: manipulation;
  outline: 0; }

.images-container .uploaded-img {
  width: 25mm; }

.result {
  margin-top: 20px; }
  .result .canvas {
    max-width: 100%;
    border: 2px solid deepskyblue; }
